################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/campus-connect.Server/obj/Debug/net8.0
/campus-connect.slnLaunch.user
/campus-connect.client/src/Pages/Admin/Admin
/campus-connect.client/obj/Debug
/campus-connect.client/src
/campus-connect.Server
