################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/campus-connect.client
/campus-connect.Server
/node_modules
/package-lock.json
/package.json
/.gitignore
/.gitignore
